

header {
  margin: 1rem;
}

body {
  background-color:#FFC15E ;
  color: #1F1300;
  font-family: 'Trebuchet MS', sans-serif;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 40px;
  text-decoration:underline #F7934C;
}

h2 {
  text-align: center;
}




ul {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #F7934C;
  border-radius: 3px;
  align-items: center;
  
}

li {
  line-height: 2rem;
  list-style:disc;
  cursor: pointer;
  user-select: none;
  text-align: left;
  margin-right: 5%;
}

li:hover {
  text-decoration: line-through 3px ;
  color:#CC5803;
  
}


form {
  display:flex;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

button {
  border-radius: 3px ;
  border-color: #F7934C;
  border-style:solid;
  background-color: #F7934C;
  cursor:pointer;
  margin-left: 1rem;
}
button:hover {
  border-color:#CC5803  
}
button:focus {
  outline:none;
}

input[type="text"] {
  background-color: #F7934C;
  outline:none;
  border:0;
  border-radius: 3px;
  width:100%;
  align-items: center;
  
}

input[type="text"]:hover {
 border: 2px solid #CC5803;

}


input[type="text"]:focus {
border-bottom: 2px solid #CC5803;
}


