
header {
  margin: 1rem;
}

body {
  margin: 1rem;
  background-color:#FFC15E ;
  color: #1F1300;
  font-family: 'Trebuchet MS', sans-serif;
}



li {
  line-height: 2rem;
  list-style: circle;
  cursor: pointer;
  user-select: none;
}

li:hover {
  font-weight: bolder;
  text-decoration: line-through 3px ;
  
}



button {
  border-radius: 3px ;
  border-color: #F7934C;
  border-style:solid;
  background-color: #F7934C;
  cursor:pointer;
}
button:hover {
  border-color:#CC5803  
}
button:focus {
  outline:none;
}

input[type="text"] {
  background-color: #F7934C;
  outline:none;
  border:0;
  border-radius: 3px;
  width:20rem;
}

input[type="text"]:hover {
 border: 2px solid #CC5803;

}


input[type="text"]:focus {
border-bottom: 2px solid #CC5803;
}

/* color: #F7B05B; */
